{% load i18n %}
<h1>{% translate "A new mediation request has been submitted." %}</h1>

<h2>{% translate "Main information:" %}</h2>
<ul>
    {% if mediation_request_id %}
    <li>{% blocktranslate with id=mediation_request_id %}Public identifier: {{ id }}{% endblocktranslate %}</li>
    {% endif %}
    {% if mediation_request.application %}
    <li>{% blocktranslate with application=mediation_request.application %}Application: {{ application }}{% endblocktranslate %}</li>
    {% endif %}
    {% if mediation_request_urgency %}
    <li>{% blocktranslate with urgency=mediation_request_urgency|safe %}Urgency: {{ urgency }}{% endblocktranslate %}</li>
    {% endif %}
</ul>

<h2>{% translate "User's information:" %}</h2>
<ul>
    {% if mediation_request.first_name %}
    <li>{% blocktranslate with first_name=mediation_request.first_name last_name=mediation_request.last_name %}Name: {{ first_name }} {{ last_name }}{% endblocktranslate %}</li>
    {% endif %}
    {% if mediation_request.email %}
    <li>{% blocktranslate with email=mediation_request.email %}Email: {{ email }}{% endblocktranslate %}</li>
    {% endif %}
    {% if mediation_request.phone_number %}
    <li>{% blocktranslate with phone_number=mediation_request.phone_number %}Phone number: {{ phone_number }}{% endblocktranslate %}</li>
    {% endif %}
</ul>

<h2>{% translate "Problem description:" %}</h2>
<ul>
    {% if mediation_request.step_description %}
    <li>{% blocktranslate with step_description=mediation_request.step_description %}Step description: {{ step_description }}{% endblocktranslate %}</li>
    {% endif %}
    {% if mediation_request.issue_description %}
    <li>{% blocktranslate with issue_description=mediation_request.issue_description %}Issue description: {{ issue_description }}{% endblocktranslate %}</li>
    {% endif %}
</ul>

{% if mediation_request.organization_name or mediation_request.organization_address or mediation_request.organization_email or mediation_request.organization_phone_number or mediation_request.organization_contact  %}
<h2>{% translate "Organization information:" %}</h2>
<ul>
    {% if mediation_request.organization_name %}
    <li>{% blocktranslate with organization_name=mediation_request.organization_name %}Name: {{ organization_name }}{% endblocktranslate %}</li>
    {% endif %}
    {% if mediation_request.organization_address %}
    <li>{% blocktranslate with organization_address=mediation_request.organization_address %}Mailing address: {{ organization_address }}{% endblocktranslate %}</li>
    {% endif %}
    {% if mediation_request.organization_email %}
    <li>{% blocktranslate with organization_email=mediation_request.organization_email %}Email address: {{ organization_email }}{% endblocktranslate %}</li>
    {% endif %}
    {% if mediation_request.organization_phone_number %}
    <li>{% blocktranslate with organization_phone_number=mediation_request.organization_phone_number %}Phone number: {{ organization_phone_number }}{% endblocktranslate %}</li>
    {% endif %}
    {% if mediation_request.organization_contact %}
    <li>{% blocktranslate with organization_contact=mediation_request.organization_contact %}Contact: {{ organization_contact }}{% endblocktranslate %}</li>
    {% endif %}
</ul>
{% endif %}

<p>{% translate "For more information please take a look at the mediation request." %}</p>
<p>{% translate "The Koena Connect team" %}</p>
