.admin-request-detail-container {
  &__breadcrumbs {
    margin: 0 0 1.5rem 0;
  }
  &__tabs {
    overflow: hidden;
    border: 1px solid #c9c9c9;
    .MuiBox-root {
      padding: 2rem;
    }

    @media (max-width: 430px) {
      .MuiBox-root {
        padding: 2rem 1rem;
      }
    }
  }
}
