.admin-request-detail {
  &__fieldset-legend-first {
    margin-top: 2rem;
  }
  &__fieldset-legend {
    margin-top: 3rem;
  }
  &__link {
    font-size: 0.95rem;
    color: #150bab;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  &__submit-top {
    margin-left: -5px;
    margin-top: 2rem;
  }
  &__submit-bottom {
    margin-left: -5px;
    margin-top: 2rem;
  }
}
