.signup {
  &__buttons {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
  }

  &__submit.button,
  &__cancel.button {
    flex: auto;
    flex-basis: 0;
    flex-basis: 145px;
  }
  .MuiInputLabel-root {
    margin-top: 0.3rem;
  }
}
