.filter-mediation-requests {
  padding: 1.5rem 0 1.5rem 0;
  display: flex;

  &__text {
    padding: 0.3rem 0;
    font-size: 1.3rem;
    margin-right: 3rem;
  }
  &__option:not(.last).MuiFormControl-root {
    margin-right: 2.5rem;
  }

  @media (max-width: 600px) {
    flex-direction: column;

    &__option.MuiFormControl-root {
      width: 100%;
    }
  }
}
