.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureList {
  margin: 0;
  padding: 0;
}

.featureListItem {
  list-style-type: none;
}

.featureTitle {
  font-size: var(--ifm-h3-font-size);
}
